{% extends 'chat/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
        {% for each in post %}
    <div class="card mt-2">
        <div class="card-header"><strong>@{{ each.author.username }}</strong></div>
        <div class="card-body d-flex flex-row justify-content-between">
            <div>
                <h5 class="card-tittle">{{ each.title }}</h5>
                <p>{{ each.description }}</p>
            </div>
            <div>Buttons</div>
        </div>
        <div class="card-footer text-muted">{{ each.created_at }}</div>
    </div>
{% empty %}
<p>No posts yet</p>

{% endfor %}
{% endblock %}